body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}


#container {
    width: 800px;
    margin: auto;
    box-shadow: 1px 1px 25px #00000032;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img {
    box-shadow: 0px 1px 25px #00000032;
    width: 400px;
}
.container-img > img{
    width: 100%;
}
#qr-reader {
    min-width: 400px;
    min-height: 350px;
    border: none !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
#qr-reader > div  >img {
    display: none !important; 
}
#qr-reader__dashboard_section > div {
    margin: 1rem 0;
    font-weight: 600;
}
#qr-reader__dashboard_section > div >a{
    cursor: pointer;
    color: purple;
}
#qr-reader__dashboard_section > div >a:hover{
    color: blueviolet;
}
#qr-reader__dashboard_section button,
#start {
    cursor: pointer;
    border: 1px solid gray ;
    box-shadow: 0px 2px 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    transition: ease-in-out .3s;
}
img:first{
    display : none !important;
}
#qr-reader__dashboard_section button:hover{
    box-shadow: -2px 2px 5px;

}

/* result  */
#result {
    width: 350px;
    min-height: 350px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
h1 {
    text-transform: uppercase;
    margin: 1rem;
    color: green;
}
p {
    text-transform: capitalize;
    line-height: 25px;
    padding: 1rem;
}



@media (min-width: 768px ) and (max-width: 992px ) {
    #container {
        flex-direction: column;
        width: 500px;
    }
    .container-img {
        box-shadow: 0px 0px 0px #fff;
    }
  }
@media (min-width: 480px ) and (max-width: 768px ) {
    #container {
        flex-direction: column;
        width: 500px;
    }
  }
@media (min-width: 320px ) and (max-width: 480px ) {
    #container {
        flex-direction: column;
        width: 400px;
    }
  }