body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  #navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
  }
  #container {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
p {
    text-align: justify;
}
button {
    border: none;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin: 10px !important;
}
button:hover {
    background-color: #80808085;
    color: #000;
    animation: code-fade 1s ease-in-out infinite alternate;
}

#qr-reader > div  >img {
    display: none !important; 
}
#qr-reader video {
    width: 100%;
}
#result {
    margin-top: 20px;
}


/* qr code animation  */
.qr-container {
    border: solid 5px black;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .qr-container > img {
    width: 200px;
    height: 200px;
    animation: code-fade 1s ease-in-out infinite alternate;
  }
  
  .qr-container > span {
    width: 190px;
    position: absolute;
    height: 8px;
    background: red;
    z-index: 1;
    animation: scan 1s ease-in-out infinite alternate;
  }
  
  @keyframes code-fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scan {
    0% {
      top: 10px;
    }
    100% {
      top: 190px;
    }
  }
  
  .border-masks {
    width: 125px;
    height: 10px;
    position: absolute;
    background: white;
  }
  
  .border-masks:nth-child(1) {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .border-masks:nth-child(2) {
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .border-masks:nth-child(3) {
    top: 50%;
    left: -65px;
    transform: translateY(-50%) rotate(90deg);
  }
  
  .border-masks:nth-child(4) {
    top: 50%;
    right: -65px;
    transform: translateY(-50%) rotate(90deg);
  }
  
/*  media query make the app look good in any screen */
@media screen and (min-width: 768px ) and (max-width: 992px ) {
    #container {
        width: 550px;
    }
  }
@media screen and (min-width: 480px ) and (max-width: 768px ) {
    #container {
        width: 100% !important;
        box-shadow: 0 0 0;
    }
    #qr-reader {
        width: 500px;
        overflow: hidden;
    }
    #qr-reader video {
        width: 400px;
    }

 
  }
@media screen and (min-width: 320px ) and (max-width: 480px ) {
    #container {
        width: 100%;
    }
   #qr-reader {
        width: 450px;
        overflow: hidden;
    }

  }